.dk_alert_content {
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
}
.dk_alert_content > .dk_alert_hide {
  display: none;
}
.dk_alert_content > .dk_alert_left {
  text-align: left;
}
.dk_alert_content > .dk_alert_center {
  text-align: center !important;
}
.dk_alert_content > .dk_alert_right {
  text-align: right !important;
}
.dk_alert_content > .dk_alert_msg {
  font-size: 1.5rem;
  line-height: 1.6em;
  color: #fff;
  padding: 0.5rem 1.3rem;
}
.dk_alert_content > .dk_alert_info {
  font-size: 1.3rem;
  line-height: 1.6em;
  padding: 1.3rem;
  text-align: justify;
  max-height: 20rem;
  max-height: 40vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.dk_alert_content > .dk_alert_btn {
  padding: 0.8rem 1.3rem;
}
.dk_alert_content > .dk_alert_btn > span {
  display: inline-block;
  margin: 0 auto;
  line-height: 2.4rem;
  padding: 0 1.3rem;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  text-align: center;
  margin: 0 0.8rem;
}
.dk_alert_content > .dk_alert_btn > span:first-child {
  margin-left: 0;
}
.dk_alert_content > .dk_alert_btn > span:last-child {
  margin-right: 0;
}
.dk_alert_content.theme1 {
  background: rgba(255,240,241,0.96);
  color: #e80116;
  box-shadow: 0 0.2rem 0.8rem rgba(232,1,22,0.15);
}
.dk_alert_content.theme1 > .dk_alert_msg {
  background: #e80116;
}
.dk_alert_content.theme1 > .dk_alert_btn {
  border-top: 1px dotted rgba(232,1,22,0.2);
}
.dk_alert_content.theme1 > .dk_alert_btn > span {
  border: 1px solid #e80116;
}
.dk_alert_content.theme1 > .dk_alert_btn > span:active {
  background: #e80116;
  color: #fff;
}
.dk_alert_content.theme2 {
  background: rgba(255,245,240,0.96);
  color: #fe3600;
  box-shadow: 0 0.2rem 0.8rem rgba(254,54,0,0.15);
}
.dk_alert_content.theme2 > .dk_alert_msg {
  background: #fe3600;
}
.dk_alert_content.theme2 > .dk_alert_btn {
  border-top: 1px dotted rgba(254,54,0,0.2);
}
.dk_alert_content.theme2 > .dk_alert_btn > span {
  border: 1px solid #fe3600;
}
.dk_alert_content.theme2 > .dk_alert_btn > span:active {
  background: #fe3600;
  color: #fff;
}
.dk_alert_content.theme3 {
  background: rgba(255,249,240,0.96);
  color: #ff6c00;
  box-shadow: 0 0.2rem 0.8rem rgba(255,108,0,0.15);
}
.dk_alert_content.theme3 > .dk_alert_msg {
  background: #ff6c00;
}
.dk_alert_content.theme3 > .dk_alert_btn {
  border-top: 1px dotted rgba(255,108,0,0.2);
}
.dk_alert_content.theme3 > .dk_alert_btn > span {
  border: 1px solid #ff6c00;
}
.dk_alert_content.theme3 > .dk_alert_btn > span:active {
  background: #ff6c00;
  color: #fff;
}
.dk_alert_content.theme4 {
  background: rgba(240,255,248,0.96);
  color: #007c46;
  box-shadow: 0 0.2rem 0.8rem rgba(0,124,70,0.15);
}
.dk_alert_content.theme4 > .dk_alert_msg {
  background: #007c46;
}
.dk_alert_content.theme4 > .dk_alert_btn {
  border-top: 1px dotted rgba(0,124,70,0.2);
}
.dk_alert_content.theme4 > .dk_alert_btn > span {
  border: 1px solid #007c46;
}
.dk_alert_content.theme4 > .dk_alert_btn > span:active {
  background: #007c46;
  color: #fff;
}
.dk_alert_content.theme5 {
  background: rgba(240,241,255,0.96);
  color: #2a36af;
  box-shadow: 0 0.2rem 0.8rem rgba(42,54,175,0.15);
}
.dk_alert_content.theme5 > .dk_alert_msg {
  background: #2a36af;
}
.dk_alert_content.theme5 > .dk_alert_btn {
  border-top: 1px dotted rgba(42,54,175,0.2);
}
.dk_alert_content.theme5 > .dk_alert_btn > span {
  border: 1px solid #2a36af;
}
.dk_alert_content.theme5 > .dk_alert_btn > span:active {
  background: #2a36af;
  color: #fff;
}
.dk_alert_content.theme6 {
  background: rgba(240,251,255,0.96);
  color: #008ac3;
  box-shadow: 0 0.2rem 0.8rem rgba(0,138,195,0.15);
}
.dk_alert_content.theme6 > .dk_alert_msg {
  background: #008ac3;
}
.dk_alert_content.theme6 > .dk_alert_btn {
  border-top: 1px dotted rgba(0,138,195,0.2);
}
.dk_alert_content.theme6 > .dk_alert_btn > span {
  border: 1px solid #008ac3;
}
.dk_alert_content.theme6 > .dk_alert_btn > span:active {
  background: #008ac3;
  color: #fff;
}
.dk_alert_content.theme7 {
  background: rgba(245,240,255,0.96);
  color: #4c2993;
  box-shadow: 0 0.2rem 0.8rem rgba(76,41,147,0.15);
}
.dk_alert_content.theme7 > .dk_alert_msg {
  background: #4c2993;
}
.dk_alert_content.theme7 > .dk_alert_btn {
  border-top: 1px dotted rgba(76,41,147,0.2);
}
.dk_alert_content.theme7 > .dk_alert_btn > span {
  border: 1px solid #4c2993;
}
.dk_alert_content.theme7 > .dk_alert_btn > span:active {
  background: #4c2993;
  color: #fff;
}
.dk-slide-enter-active,
.dk-slide-leave-active {
  transition: all 0.4s ease-in-out;
}
.dk-slide-enter,
.dk-slide-leave-active {
  top: -100%;
  opacity: 0;
}
